<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="index.js" defer></script>
    <title>Dashboard</title>
</head>
<body>
<style>
    h2 {
        color: blue;
        text-transform: uppercase;
        font-size: 2.5rem;
    }

    li {
        color: darkgoldenrod;
        font-size: 1.5rem;
        margin: 0 auto;
        padding-right: 15px;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<section class="dashboard">
    <table id="table">
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Office Number</th>
            <th>Cell Number</th>
            <th>Position</th>
            <th>Department</th>
            <th>Salary</th>
            <th>Action</th>
        </tr>
    </table>
    <button onclick="saveData()">Save data</button>
</section>
</body>
</html>
